.newLanguage {
    display: inline-block;
    text-align: right;


}

input[type="submit"]{
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(209,209,217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(60, 96, 129), rgb(50, 76, 117)) rgb(60, 96, 129);
    box-shadow:
    0 1px rgba(255,255,255,.2) inset,
    0 3px 5px rgba(0,1,6,.5),
    0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;

}

input[type="submit"]:active{
    top: 1px;
    background: linear-gradient(rgb(37, 72, 121), rgb(22, 25, 113)) rgb(37, 72, 121);
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
}

input[type="submit"]:hover:not(:active){
    top: 1px;
    background: linear-gradient(rgb(37, 72, 121), rgb(22, 25, 113)) rgb(37, 72, 121);

}
